<h1>THIS IS THE DASHBOARD INDEX PAGE</h1>

<div class="missing_persons_dashboard_block">
  <%= link_to "Help Find Us", missing_persons_path %>
</div>

<div class="visit_blog_dashboard_block">
  SOON TO BE LINK - Visit the Blog
</div>
