<h1>THIS IS THE MISSING PERSONS INDEX</h1>

<% @missing_persons.each do |person| %>

<div class="missing_person_card">
  <div class="person_image">
    <img src="http://splashpaddubai.com/wp-content/uploads/2015/08/placeholder-300x300.jpg" alt="PLACEHOLDER IMAGE">
  </div>
  <h3 class="person_name"><%= link_to (person.first_name + " " + person.last_name), missing_person_path(person) %></h3>
</div>
<% end %>
