<img class="person_image" src="http://splashpaddubai.com/wp-content/uploads/2015/08/placeholder-300x300.jpg" alt="">
<h3>Name: <%= @person.first_name + " " + @person.last_name %></h3>
<p>Age: <%= @person.age %></p>
<p>Sex: <%= @person.sex %></p>
